<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet"  href="/public/css/style.css"/> -->
    <title>Login</title>
  </head>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }
    body {
      background-color: rgb(244, 241, 241);
    }
    .navbar-heading {
      padding-top: 4rem;
      padding-left: 3rem;
      text-transform: capitalize;
      padding-bottom: 1rem;
      text-align: center;
    }
    .navbar-heading h2 {
      font-size: 2.1rem;
      color: brown;
    }
    .msg {
      padding-top: 1.1rem;
      text-align: center;
      color: red;
    }
    .login_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      width: 100%;
      height: 67vh;
    }
    .login_container h1 {
      font-size: 32px;
      font-weight: 700;
    }
    .login_container form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      min-height: 400px;
      min-width: 400px;
    }

    .login_container form div input {
      padding: 0.7rem;
      font-size: 20px;
      width: 100%;
    }
    .login_container form div button {
      font-size: 22px;
      cursor: pointer;
      width: 100%;
      padding: 0.6rem;
      background-color: rgba(36, 94, 176, 0.869);
      border-radius: 10px;
      color: white;
      border: white;
    }
    .password-container{
      position: relative;
    }
    .password-container input {
      padding-right: 30px; /* Adjust based on button width */
  }
    .toggle-password {
    position: absolute;
    right: 1%;
    top:1%;
    /* transform: translateY(-50%); */
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin: 0;
  
}
    #togglePassword{
      width: 30px;
      color: black;
      /* background-color: white; */
      background: transparent;
    }
    .login_container form div button:hover {
      background-color: rgb(7, 62, 144);
    }
  </style>
  <body>
    <div class="navbar-heading">
      <p>Ready to start taking notes?</p>
      <h2>Manage your notes here</h2>
    </div>
    <div class="msg">
      <% if(typeof message !== 'undefined'){ %>
      <p><%= message%></p>
      <% } %>
    </div>
    <div class="login_container">
      <h1>Login</h1>
      <form action="/api/v1/auth/login" method="post">
        <div>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
          />
        </div>
        <div class="password-container">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
          />
          <button id="togglePassword" class="toggle-password"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M1.18164 12C2.12215 6.87976 6.60812 3 12.0003 3C17.3924 3 21.8784 6.87976 22.8189 12C21.8784 17.1202 17.3924 21 12.0003 21C6.60812 21 2.12215 17.1202 1.18164 12ZM12.0003 17C14.7617 17 17.0003 14.7614 17.0003 12C17.0003 9.23858 14.7617 7 12.0003 7C9.23884 7 7.00026 9.23858 7.00026 12C7.00026 14.7614 9.23884 17 12.0003 17ZM12.0003 15C10.3434 15 9.00026 13.6569 9.00026 12C9.00026 10.3431 10.3434 9 12.0003 9C13.6571 9 15.0003 10.3431 15.0003 12C15.0003 13.6569 13.6571 15 12.0003 15Z"></path></svg></button>
        </div>
        <div>
          <button type="submit">Login</button>
        </div>
        <div>
          <p>Don't have an account? <a href="register">Register</a></p>
        </div>
      </form>
    </div>
    <script>
      document
        .getElementById("togglePassword")
        .addEventListener("click", function (e) {
          e.preventDefault();
          const passwordInput = document.getElementById("password");
          const type =
            passwordInput.getAttribute("type") === "password"
              ? "text"
              : "password";
          passwordInput.setAttribute("type", type);
          
          // this.textContent = type === "password" ? "Show" : "Hide";
        });
    </script>
  </body>
</html>
